<header id="main-header" [ngClass]="{'header-fixed': isFixed}">
    <div class="container" fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="start center">
        <div class="header-mobile-top" fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="start center">
            <div class="home-logo mr-1">
                <a href="/">
                    <h2>hita</h2>
                </a>
            </div>
            <button mat-icon-button id="menu-toggle" (click)="toggleMenu()"><mat-icon>menu</mat-icon></button>
        </div>

        <div fxFlex fxLayoutAlign="end" class="top-menu">
            <button mat-button id="dashboard-topbtn" class="hometop-btn"><strong>Contact</strong></button>
            <button mat-button id="dashboard-topbtn" class="hometop-btn" routerLink="sign-in"><strong>Sign in</strong></button>
        </div>
    </div>
</header>
